* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: white;
    font-family: 'Foundation';
    letter-spacing: 10px;

    z-index: 100;
}

:root {
    --text-primary: white;
    --text-secondary: #c5c5c5;
    --hud-color: #ffbb29;
}

.navbar {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    user-select: none;
    z-index: 100;
    background: linear-gradient(to bottom, #0e0e0e 40%, transparent);
}

.navgroup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.gradient {
    background: linear-gradient(to bottom, var(--text-primary), grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.logo {
    position: absolute;
    rotate: 90deg;
    top: 0.4rem;
    left: 0.5rem;
    z-index: 10;
    width: 4rem;
    height: 4rem;
    fill: #ffffff46;
    transition: fill 0.3s ease;
}

.description {
    font-family: 'JetBrains Mono';
    text-transform: uppercase;
    letter-spacing: normal;
    padding-top: 0.8rem;
    color: var(--text-secondary);
}

.credits {
    text-transform: uppercase;
    letter-spacing: normal;
    font-family: 'JetBrains Mono';
    color: var(--text-secondary);
}

div:has(.loader) {
    transform: none !important;
}

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > h1 {
    opacity: 0;
    transform: translateY(100%);
    animation: fadein 1s ease forwards;
}

.planet-indicator {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
    width: 40px;
    height: 40px;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;
    will-change: transform;
    --border-color: #ffbb29;
}

.planet-selection { 
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
    width: 40px;
    height: 40px;
    user-select: none;
    pointer-events: none;
    transition: scale 0.2s ease;
    will-change: scale;

    --border-length-x: 5px;
    --border-length-y: 5px;
}

.planet-indicator:not(.selected).hover > .planet-selection {
    scale: 1.1 !important;
}

.planet-indicator:not(.selected).active > .planet-selection {
    scale: 0.9 !important;
}

.planet-selection::before,
.planet-selection::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: 
        linear-gradient(to right, var(--border-color) var(--border-length-x), transparent var(--border-length-x)) top left,
        linear-gradient(to left, var(--border-color) var(--border-length-x), transparent var(--border-length-x)) top right,
        linear-gradient(to right, var(--border-color) var(--border-length-x), transparent var(--border-length-x)) bottom left,
        linear-gradient(to left, var(--border-color) var(--border-length-x), transparent var(--border-length-x)) bottom right;
    background-repeat: no-repeat;
    background-size: var(--border-length-x) 2px, var(--border-length-x) 2px, var(--border-length-x) 2px, var(--border-length-x) 2px;
}

.planet-selection::after {
    background: 
        linear-gradient(to bottom, var(--border-color) var(--border-length-y), transparent var(--border-length-y)) top left,
        linear-gradient(to bottom, var(--border-color) var(--border-length-y), transparent var(--border-length-y)) top right,
        linear-gradient(to top, var(--border-color) var(--border-length-y), transparent var(--border-length-y)) bottom left,
        linear-gradient(to top, var(--border-color) var(--border-length-y), transparent var(--border-length-y)) bottom right;
    background-repeat: no-repeat;
    background-size: 2px var(--border-length-y), 2px var(--border-length-y), 2px var(--border-length-y), 2px var(--border-length-x);
}


.planet-name {
    position: absolute;
    top: -15px;
    min-width: max-content;
    left: calc(50% + 3px);
    transform: translate(-50%, -50%);
    font-size: 12px;
    letter-spacing: 5px;
    color: var(--border-color);
    font-family: 'JetBrains Mono';
    text-transform: uppercase;
}

@keyframes fadein {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeout {
    to {
        opacity: 0;
    }
}